#booksCardContainer {
    border: none;
}

#author-profile {
    border-radius: 50px;
    height: 80px;
    width: 80px;
}

#book-image-detailspage {
    height: 560px;
    width: 560px;
    padding-right: 2rem;
}

#book-description {
    margin-top: -3rem;
    margin-left: -1rem;
}
.container .card ul {
    list-style: none;
}

.container .card .books-info {
    display: inline-block;
    
}
#btn-read {
    width: 20rem;
    margin-left: -2rem;
    border-radius: 25px;
    background-color: rgb(202, 25, 2);
    border: none;
}

#btn-read:hover {
    width: 30rem;
    margin-left: -7rem;
    border-radius: 25px;
    background-color: green;
}

#btn-submit-form {
    width: 15rem;
    background-color: red;
    border: none;
    border-radius: 25px;
}

#btn-collapse {
    background-color: rgb(255, 0, 25);
    border: none;
    border-radius: 25px;

}

